CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1QAIRhLGigSXf1PztaCAu4Hg
STRIPE_ENDPOINT_SECRET =

# https://www.mercadopago.com.ar/developers/panel
MP_ACCESS_TOKEN=

